<configuration>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${user.home}/.hosh.log</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
		</encoder>
	</appender>
	<root level="DEBUG">
		<appender-ref ref="FILE" />
	</root>
</configuration>
